
  /* modal css */

  .wrapper {
    padding: 40px 15px;
  }

  .wrapper .input-data {
    height: 30px;
    width: 100%;
    font-size: 20px;
    position: relative;
  }

  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    outline: none;
  }

  .wrapper .input-data textarea{
    height: 100px;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    outline: none;
    resize: none;
    padding-bottom: 20px;
  }

  
  .wrapper .input-data .underline {
    position: absolute;
    bottom: 0;
    top: 30px;
    height: 2px;
    width: 100%;
  }

  .input-data .underline:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: rgb(109, 123, 168);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .wrapper .input-data input:focus ~ .underline:before,
  .wrapper .input-data input:focus ~ .underline:before,
  .wrapper .input-data textarea:focus ~ .underline:before,
  .wrapper .input-data textarea:focus ~ .underline:before {
    transform: scaleX(1);
  }

  .wrapper .input-data input:focus ~ label,
  .wrapper .input-data input:focus ~ label,
  .wrapper .input-data textarea:focus ~ label,
  .wrapper .input-data textarea:focus ~ label {
    outline: none;
    transform: translateY(-25px);
    font-size: 17px;
    color: rgb(109, 123, 168);
  }

  .wrapper .input-data label {
    position: absolute;
    bottom: 30px;
    left: 0px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .whitecard {
    background: #eee;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    padding: 2em;
    position: relative;
    max-width: 600px;
    min-width: 500px;
    border-radius: 4px;
  }

  /* Button Css */
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: ' \002B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }